
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajax</title>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>
    @using (Ajax.BeginForm("Ajax", "Home", new { ID = 1, Name = "2" }, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        /*OnBegin = "OnBeginPost()",
        OnComplete = "OnEndPost()",
        OnSuccess = "OnSuccessPost",*/
        /*UpdateTargetId = "content"*/
    }
                 ))
    {
        <div id="content">
            <table>
                <tr>
                    <td>
                        @Html.Label("lblName", "姓名")
                    </td>
                    <td>
                        @Html.TextBox("TxtName")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("lblAge", "年龄")
                    </td>
                    <td>
                        @Html.TextBox("TxtAge")
                    </td>
                </tr>
            </table>
            <input type="submit" value="提交" />
        </div>
    }
    <input type="text" id="haha2"/>
</body>
</html>
<script type="text/javascript">
    function OnBeginPost() {
        alert("开始提交");
    }
    function OnEndPost() {
        alert("提交完成!");
    }
    function OnSuccessPost(e) {
        alert(e + "提交成功!");
    }
</script>
<script>
    function haha() {
        document.getElementById('haha2').value = '修改成功';
    }
    
    </script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>