
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajax</title>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>
    <div class="userWrap">
        <ul class="userMenu">
            <li class="current" data-id="Index">用户中心</li>
            <li data-id="account">账户信息</li>
            <li data-id="trade">交易记录</li>
            <li data-id="info">消息中心</li>
        </ul>
        <div id="content">这是主页的内容</div>
    </div>
</body>
</html>

