
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateHtml</title>
</head>
<body>
    @Ajax.ActionLink("View  All Student Info", "AllStudent", "Home", new AjaxOptions
{
    UpdateTargetId = "divAllStudent",
    OnBegin = "fnOnBegin",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    LoadingElementId = "imgloader",
    OnSuccess = "fnSuccess",
    Confirm = "Do you want to get all student info ?????"
}, new { @class = "btn btn-default" })
    <p>我就看看这个分段会不会小时呢</p>
    

    <div id="imgloader"></div>
</body>
</html>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>