
@{
    ViewBag.Title = "维修图片";
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/assets/libs/layui/css/layui.css" />
<link rel="stylesheet" href="~/assets/module/admin.css?v=312" />
<!-- js部分 -->
<script type="text/javascript" src="~/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="~/assets/js/common.js?v=312"></script>
<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <fieldset>
                <legend style="color:#5b9bd1">维修图片</legend>
            </fieldset>

                <input type="text" id ="title"name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                 <div class="layui-upload-drag" id="test10" style="width:100%">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                </div>
                <hr class="layui-bg-gray">
            </div>
    </div>
</div>
<script src="/static/build/layui.js"></script>
<script>
var des = @ViewBag.id;
layui.use('upload', function(){
    var upload = layui.upload;
    //获取图片描述的内容

   
  //执行实例
  var uploadInst = upload.render({
    elem: '#test10' //绑定元素
    , url: '/Device/DeviceRepairPic_Post' //上传接口
    , data: { describe: des }
    , done: function (res) {
        layer.msg("上传图片成功！");
    }
    ,error: function(){
        layer.msg('上传图片失败，请联系管理员~');
    }
  });
});
</script>