
@{
    Layout = null;
    int idd = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>设备保养计划</title>
    <link rel="stylesheet" href="~/assets/libs/layui/css/layui.css" />
    <link rel="stylesheet" href="~/assets/module/admin.css?v=312" />
    <!--没有下面两个JS则后台javascript返回失效-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <!-- js部分 -->
    <script type="text/javascript" src="~/assets/libs/layui/layui.js"></script>
    <script type="text/javascript" src="~/assets/js/common.js?v=312"></script>
    <script src="/static/build/layui.js"></script>
    <!--没有它就无法执行双击行弹出内容，高亮等功能-->
    <script src="~/Scripts/DataTableExtend.js"></script>
</head>


<body>
    <!-- 加载动画 -->
    <div class="page-loading">
        <div class="ball-loader">
            <span></span><span></span><span></span><span></span>
        </div>
    </div>

    <!-- 正文开始 -->
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-form toolbar">
                    <div class="layui-form-item">
                        <div>
                            <div class="layui-inline layui-col-md2">
                                <select name="month" lay-verify="">
                                    <option value="">月份</option>
                                    <option value="12">12</option>
                                    <option value="11">11</option>
                                    <option value="10">10</option>
                                    <option value="09">9</option>
                                    <option value="08">8</option>
                                    <option value="07">7</option>
                                    <option value="06">6</option>
                                    <option value="05">5</option>
                                    <option value="04">4</option>
                                    <option value="03">3</option>
                                    <option value="02">2</option>
                                    <option value="01">1</option>
                                </select>
                            </div>


                            <div class="layui-inline">
                                <button class="layui-btn icon-btn" lay-filter="formSubSearchTbBas" lay-submit>
                                    <i class="layui-icon">&#xe615;</i>搜索
                                </button>
                                <a class="layui-btn" href="">
                                    <i class="layui-icon layui-icon-form"></i>保养清单
                                </a>

                                <button id="btnExportTbBas" class="layui-btn icon-btn">
                                    <i class="layui-icon layui-icon-unlink"></i>初始化
                                </button>
                                <a class="layui-btn" ew-href="~/Device/AddDeviceMaintenancePlan" ew-title="新增保养计划">
                                    <i class="layui-icon layui-icon-add-circle-fine"></i>新增
                                </a>
                            </div>

                        </div>
                    </div>

                    <table class="layui-table" id="tableTbBas" lay-filter="tableTbBas"></table>
                </div>
            </div>
        </div>
    </div>
    <!-- 表格操作列 -->
    <script type="text/html" id="tableBarTbBas">

        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="finish" name="finish" >完成</a>

        <a class="layui-btn layui-btn-xs" data-dropdown="#dropUser{{d.LAY_INDEX}}" no-shade="true">
            更多<i class="layui-icon layui-icon-drop" style="font-size: 12px;margin-right: 0;"></i>
        </a>
        <!-- 下拉菜单 -->
        <ul class="dropdown-menu-nav dropdown-bottom-right layui-hide" id="dropUser{{d.LAY_INDEX}}">
            <div class="dropdown-anchor"></div>
            <li><a lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a></li>
            <li><a lay-event="del"><i class="layui-icon layui-icon-close-fill"></i>删除</a></li>
        </ul>
    </script>
    <script>
        layui.use(['layer', 'form', 'table', 'util', 'dropdown', 'tableX'], function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form;
            var table = layui.table;
            var util = layui.util;
            var dropdown = layui.dropdown;
            //没有这一条表格分页会失效
            var tableX = layui.tableX;
            // 渲染表格
            var insTb = table.render({
                elem: '#tableTbBas',
                url: '/Device/SelectDeviceMaintenancePlanList', //数据接口
                //给表格增加导出打印筛选列自动功能
                toolbar: true,
                title: '导出的设备维修清单',
                totalrow: true,
                page: true,
                cellMinWidth: 100,
                cols: [[
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'id', align: 'center', sort: true, title: 'id', hide: true },
                    { field: 'device_id', align: 'center', sort: true, title: '保养设备', },
                    { field: 'dmp_content', align: 'center', sort: true, title: '保养内容' },
                    { field: 'dmp_consumption', align: 'center', sort: true, title: '物品使用' },
                    { field: 'dmp_isfinish', align: 'center', sort: true, title: '保养进度' },
                    { field: 'dmp_month', align: 'center', sort: true, title: '保养月份' },
                    { field: 'dmp_weekend', align: 'center', sort: true, title: '保养周' },
                    { field: 'remark', align: 'center', sort: true, title: '备注' },
                    { align: 'center', toolbar: '#tableBarTbBas', title: '操作', minWidth: 130, fixed: 'right' }
                ]]
                , done: function (res, curr, count) {// 表格渲染完成之后的回调

                    /* $('*[name="finish"]').each(function () {
                         $(this).hide()
                     })*/

                    $(".layui-table th").css("font-weight", "bold");// 设定表格标题字体加粗

                    LayUIDataTable.SetJqueryObj($);// 第一步：设置jQuery对象

                    //LayUIDataTable.HideField('num');// 隐藏列-单列模式
                    //LayUIDataTable.HideField(['num','match_guest']);// 隐藏列-多列模式

                    var currentRowDataList = LayUIDataTable.ParseDataTable(function (index, currentData, rowData) {
                        /*console.log("当前页数据条数:" + currentRowDataList.length)
                        console.log("当前行索引：" + index);
                        console.log("触发的当前行单元格：" + currentData);
                        console.log("当前行数据：" + JSON.stringify(rowData));

                        var msg = '<div style="text-align: left"> 【当前页数据条数】' + currentRowDataList.length + '<br/>【当前行索引】' + index + '<br/>【触发的当前行单元格】' + currentData + '<br/>【当前行数据】' + JSON.stringify(rowData) + '</div>';
                        layer.msg(msg, {
                            time: 10000,

                        })*/

                    })
                    //遍历一遍，给btn都附上不同的id
                    /*$("a[name='finish']").each(function () {
                        $(this).attr({ id: "finish" +  });
                       
                    })*/
                    var xiabiao = 1;
                    var myArray = new Array();
                    var finishlist = new Array();
                    $.each(currentRowDataList, function (index, obj) {

                        console.log(obj['id'].value);
                        document.getElementsByName("finish")[index].setAttribute('id', 'finish' + obj['id'].value);
                        xiabiao = xiabiao + 1;
                        myArray.push('finish' + obj['id'].value);
                        if (obj['dmp_isfinish'].value == '已完成') {
                            finishlist.push('finish' + obj['id'].value);
                            obj['dmp_isfinish'].row.css("background-color", "#009688");
                            obj['dmp_isfinish'].row.css("color", "#ffffff");


                            //document.getElementsByName("finish")[index].style.visibility = "collapse";
                            //document.getElementsByName("finish")[index].className = "layui-btn layui-btn-primary layui-btn-xs";
                            //document.getElementsByName("finish")[index].disabled = true;
                            //document.getElementsByName("finish")[index].style.display="none";
                        }
                    })
                    var temp = 0;
                    $("a[name='finish']").each(function () {
                        if (xiabiao <= 1) {
                            $(this).attr({ 'id': myArray[temp] + "another" });
                            temp = temp + 1;
                            //console.log(myArray[temp]);
                        }
                        xiabiao = xiabiao - 1;

                    })
                    for (j = 0, len = finishlist.length; j < len; j++) {
                        $("#" + finishlist[j] + "").hide();
                        $("#" + finishlist[j] + "another").hide();
                    }
                   
                }
            });

            //监听工具条
            table.on('tool(tableTbBas)', function (obj) {
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值

                if (layEvent === 'edit') { // 修改
 
                    /*$.ajax({
                         type: "POST", //提交数据的类型 分为POST和GET
                         url: '/Device/ModifyDeviceMaintenancePlan',  //提交url 注意url必须小写
                         data: { "data": data["id"] },
                         success: function (return_data) {
                             layer.msg("修改成功");
                             insTb.reload({ where: data.field }, 'data');
                         },
                         error: function () {
                             layer.msg("修改失败~");
                         }
                     });*/
                    window.location.href = "/Device/ModifyDeviceMaintenancePlan?id=" + data["id"];
                    
                } else if (layEvent === 'del') { // 删除
                    var flag = confirm("确定要删除？？？");
                    if (flag) {
                        $.ajax({
                            type: 'post',
                            url: "/Device/DeleteDeviceMaintenancePlan?id=" + data["id"],
                            data: "{}",
                            contentType: "application/json",
                            //dataType: "json",
                            success: function (result) {
                                layer.msg("删除该保养计划成功！！！");
                                insTb.reload({ where: data.field }, 'data');
                            },
                            error: function () {
                                layer.msg("删除失败！！！请联系管理员探讨问题所在~");
                            }
                        })
                    }

                    else {
                        layer.msg('取消了删除');
                    }

                } else if (layEvent === 'edit_pic') { // 维修图片
                    window.location.href = "/Device/DeviceRepairPic?id=" + data["id"];
                } else if (layEvent === 'del2') { // 删除2
                    layer.msg('点击了下拉菜单删除');
                } else if (layEvent === 'print2') { // 打印2
                    layer.msg('点击了下拉菜单打印');
                } else if (layEvent === 'output') { // 输出Excel
                    window.location.href = "/Device/OutputDeiveRepairExcel?id=" + data["id"];

                } else if (layEvent === 'finish') {

                    layer.open({
                        type: 1,
                        title: ['是否完成该计划', 'background:#029687;color:#ffffff;'],
                        area: ['300px', '200px'],
                        shadeClose: true, //点击遮罩关闭
                        //shade: 0,
                        content: '\<\div style="padding:20px;text-align:center;">请选择该计划完成时间\<\input id="DMPdate" name="DMPdate" type="date" class="layui-btn layui-btn-primary" \/>\<\/div>'
                        , btn: ['确认', '取消']
                        , yes: function (index, layero) {
                            if (document.getElementById("DMPdate").value == "") {
                                layer.msg("您还未选择相应的完成时间！！");
                            }
                            else {
                                $.ajax({
                                    type: "POST", //提交数据的类型 分为POST和GET
                                    url: '/Device/DeviceMaintenancePlanFinish',  //提交url 注意url必须小写
                                    data: { "id": data["id"], "date": document.getElementById("DMPdate").value },
                                    success: function (return_data) {
                                        layer.msg(return_data);
                                        layer.close(index);
                                        parent.location.reload();
                                    },
                                    error: function (return_date) {
                                        layer.msg(return_data);
                                        layer.close(index);
                                    }
                                })
                            }
                        }, btn2: function (index, layero) {
                            layer.close(index);
                        }
                     , cancel: function (index) {
                         layer.close(index);
                     }
                    });

                }
                dropdown.hideAll();
            });

            // 导出excel
            $('#btnExportTbBas').click(function () {
                var checkRows = table.checkStatus('tableTbBas');
                if (checkRows.data.length == 0) {
                    layer.msg('请选择要初始化的数据', { icon: 2 });
                } else {
                    if (confirm("确认需要初始化吗?初始化后完成选项可以重新提交!")) {
                        return true;
                    }
                    return false;


                }
            });

            // 搜索按钮点击事件
            form.on('submit(formSubSearchTbBas)', function (data) {
                insTb.reload({ where: data.field }, 'data');
            });

        });
    </script>

</body>
</html>
